<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeetingTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MeetingTime.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MeetingTime.Properties.Settings>
            <setting name="defRate0" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="defRate1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="defRate2" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="defRate3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="defRate4" serializeAs="String">
                <value>75</value>
            </setting>
        </MeetingTime.Properties.Settings>
    </userSettings>
</configuration>